* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}

.page {
    display: grid;
    row-gap: 25px;
    column-gap: 25px;
    width: 100%;
    padding: 30px;
    margin: auto;
    grid-template-areas: "order payment" "total total";
    grid-template-columns: 1fr 1fr;
}

.main-nav{
    background-color: #42281c;
    color: #fbf1bf;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    display: flex;
    font-weight: normal;
}

.logo {
    max-height: 28px;
    margin-right: 7px;
}


.box {
    background-color: #eee1d5;
    border-radius: 5px;
}


.totals {
    grid-area: totals;
}

.totals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
