* {
    box-sizing: border-box;
}

body {
    padding: 30px;
}

.brand {
    font-family: cursive;
    font-weight: normal;
    font-size: 75px;
    text-align: center;
}
.sub-brand {
    font-family: snell roundhand;
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

.paperheader {
    grid-area: header;
}
.nav-links {
    grid-area: nav;
}
.story-1 {
    grid-area: story-1;
}
.story-2 {
    grid-area: story-2;
}
.story-3{
    grid-area: story-3;
}
.story-4{
    grid-area: story-4;
}
.story-5{
    grid-area: story-5;
}

.page {
    display: grid;
    grid-template-areas: "header header header" "nav nav nav" "story-1 story-2 story-3"
    "story-4 story-4 story-5";
}


.article-title {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    font-style: italic;
}

.article-img {
    display: block;
    margin: 0 auto;
    max-height: 250px;
}

.story {
    padding: 10px;
    border-left: 3px solid grey;
    border-bottom: 3px solid grey;
}
.story-3, .story-5 {
    border-right: 3px solid gray
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border: 3px solid grey;
    margin: 0;
    padding: 30px

}

.section-link {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    font-family: futura;
    color: grey;
}

.section-link:hover{
    text-decoration: underline;
}
